{% extends "base.html" %}

{% block title %}{{ obj_type }} Objects - Infoblox Mock Server{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ obj_type }} Objects</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{{ url_for('database') }}" class="btn btn-sm btn-outline-primary">
            <i class="bi bi-arrow-left"></i> Back to Database
        </a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        {% if objects %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Reference</th>
                        {% for key in objects[0].keys() %}
                            {% if key != '_ref' and not key.startswith('_') %}
                            <th>{{ key }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for obj in objects %}
                    <tr>
                        <td><code>{{ obj._ref }}</code></td>
                        {% for key in objects[0].keys() %}
                            {% if key != '_ref' and not key.startswith('_') %}
                            <td>
                                {% if obj[key] is mapping %}
                                <pre>{{ obj[key]|tojson(indent=2) }}</pre>
                                {% elif obj[key] is iterable and obj[key] is not string %}
                                <pre>{{ obj[key]|tojson(indent=2) }}</pre>
                                {% else %}
                                {{ obj[key] }}
                                {% endif %}
                            </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-info">
            <i class="bi bi-info-circle"></i> No objects found for type: {{ obj_type }}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}